<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Test2.mapper.SignUpMapper">
	<insert id="insertSignUp" parameterType="com.example.Test2.vo.User">
		INSERT INTO "user" (id, pwd, name, level, "desc", reg_date) 
		VALUES
        (#{id}, #{pwd}, #{name}, #{level}, #{desc}, DATE_TRUNC('second',now()))
	</insert>
</mapper>